* {
    margin: 0;
    padding: 0;
}

.img1 {
    /* filter: blur(7px); */
    /* filter: brightness(17); */
    /* filter: invert(100); */
    /* filter: sepia(3); */
    filter: contrast(7);
}

.img2 {
    /* filter:grayscale(100) */
    /* filter: opacity(55); */
    filter: invert(7);
}