* {
    margin: 0;
    padding: 0;
}

.box {
    height: 500px;
    width: 500px;
    background-color: brown;
    border: 2px solid black;
    background-image: url(lamp.jpg);
    background-size: cover;
    /* background-size: contain; */
    /* background-repeat: round; */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* background-position: bottom; */
    /* background-position: right; Top left bottom*/
}

img {
    height: 490px;
    width: 400px;
    /* object-fit: fill; */
    /* object-fit: contain; */
    object-fit: scale-down;
    /* object-fit: cover;
    object-position: left;
    object-position: right; */
    /* object-position: 30px 40px; */
    /* object-position: bottom right; */
}