* {
    margin: 0;
    padding: 0;
}

.box {
    width: 40vw;
    height: 40vh;
    border: 2px solid black;
    background-color: brown;
    color: rgb(5, 51, 53);
    overflow: auto;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    /* white-space: nowrap; */
    text-overflow: ellipsis;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    text-shadow: 0px 6px 1px purple;
    box-shadow: 0px 0px 20px 3px black;
    padding: 10px;
    margin: 20px;
}