th {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
    color: navy;
}

html,body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
}