* {
    margin: 0;
    padding: 0;
}

body {
    background-color: brown;
}

@media only screen and (max-width: 480px) {
    body {
        background-color: navy;
    }

    .boxs {
        flex-direction: column;
    }
}

.boxs {
    display: flex;
}

.box {
    height: 250px;
    width: 250px;
    border: 1px solid white;
}