* {
    margin: 0;
    padding: 0;
}

.box {
    border: 1px solid blueviolet;
    background: blue;
    display: inline-block;
    margin: 45px;
    padding: 55px;
    width: 200px;
}

.box1 {
    display: inline-flex;
    justify-content: center;
}