* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color:navy;
    --backcolor: coral;
    --bocolor: 5px solid rgb(255, 0, 179);
    --font: 20px;
}

.navbar {
    width: 100%;
    height: 100px;
    color: var(--color);
    border: var(--bocolor);
    background-color: var(--backcolor, green);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: var(--font);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

ul {
    list-style: none;
}

.navbar ul:nth-of-type(2) {
    display: flex;
    gap: 150px;
}