* {
    margin: 0;
    padding: 0;
}

:root {
    --color: #008b8b;
    --parcolor:rgb(215, 239, 244);
    --samllcolor:rgb(255, 151, 205);
    --samllboxcolor1:rgb(84, 155, 191);
    --samllboxcolor2:rgb(145, 84, 191);
    --bdr:20px;
}

.parent {
    position: relative;
    background-color: var(--parcolor);
}

header {
    position: sticky;
    top: 0px;
}

.navbar {
    width: 100%;
    height: 70px;
    background-color: var(--color,pink);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

.navbar ul:first-child {
    color: darkblue;
    font-size: x-large;
    font-weight: 600;
}

.navbar ul:nth-of-type(2) {
    display: flex;
    font-size: larger;
    gap: 150px;
}

.box {
    height: 600px;
    width: 90vw;
    border: 1px solid brown;
    margin: 15px auto;
    background-color: var(--samllcolor);
}

.box1 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.small {
    width: 450px;
    height: 480px;
    border: 1px solid brown;
    border-radius: var(--bdr);
}

.small-box1 {
    background-color: var(--samllboxcolor1);
}

.small-box2 {
    background-color: var(--samllboxcolor2);
}

.box2 {
    height: 350px;
    width: 80vw;
    border: 1px solid brown;
    margin: auto;
    border-radius: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: navy;
}

.circle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin-left: 93vw;
    background-color: darkmagenta;
    position: fixed;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkblue;
} 

.panel {
    height: 160px;
    border: 1px solid brown;
    margin-top: 10px;
    background-color: #0f000f;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}

.panel p:hover {
    height: 60px;
    background-color: var(--samllboxcolor1 , navy);
    color: navy;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 3s;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}