* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <----------Background_Centering----------> */
.main {
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* <----------Card_Styling----------> */
.card {
    width: 400px;
    border: 1px solid rgb(195, 189, 189);
    background-color: white;
    border-radius: 15px;
    padding-bottom: 30px;
}

/* <----------Image_Fix----------> */
img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 5px;
}

/* <----------Tag_Boxes----------> */
.box {
    display: flex;
    gap: 10px;
    margin: 0px 15px;
}

.box1, .box2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}

/* <-----------Heading----------> */
h2 {
    margin: 10px 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/* <----------Paragraph----------> */
p {
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    color: rgb(161, 159, 159);
    margin: 10px 15px;
}

/* <----------Button_Fixed----------> */
button {
    height: 50px;
    width: 150px;
    color: blue;
    font-size: larger;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(191, 199, 245);
    border: none;
    border-radius: 40px;
    display: block;
    margin: 30px auto 0 auto; /* Centered button */
}