* {
    margin: 0;
    padding: 0;
}

div p:first-child {
    background-color: aqua;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3px;
    padding: 10px;
}

div p:not(fitst-child) {
    background-color: blue;
    color: white;
    padding: 10px;
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
}