* {
    margin: 0;
    padding: 0;
}

.parent {
    width: 60vw;
    height: 50vh;
    background-color: bisque;
}

.box {
    height: 60px;
    width: 200px;
    background-color: cadetblue;
    /* transition-property: transform;
    transition-duration: 4s;
    transition-timing-function:ease-in-out;
    transition-delay: 2s; */
    transition: all 5s cubic-bezier(0.41, 2.01, 1, 0.46) 2s;
}

.box1 {
    transform: translateX(10vw) translateY(10vh);
    background-color: brown;
}